<%# <h1>Stupid Coaching</h1>

<form action="/answer" data-turbo="false" method="get">
  <label for="ask">Ask your coach anything:</label>
  <input type="text" name="ask" id="ask_coach" placeholder="How are you coach?">
  <input type="submit" value="Ask!">
</form> %>
 <div class="container mt-4">
    <h1>Stupid Coaching</h1>
    <form action="/answer" data-turbo="false" method="get" class="mt-3">
      <div class="form-group mb-3">
        <label for="ask" class="form-label" >Ask your coach anything:</label>
        <input type="text" name="ask" id="ask_coach" class="form-control" placeholder="How are you, coach?">
      </div>
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>
  </div>
